[hub]
	protocol = https
[user]
	name = person808
	email = kainaluh808@gmail.com
[credential]
	helper = cache --timeout=3600
[alias]
	co = checkout
	count = !git shortlog -sn
	l = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(yellow)%d%C(reset)' --all
	p = push
	pl = pull
	b = branch
	c = commit
	s = status
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = nvim
[apply]
	whitespace = nowarn
[mergetool]
	keepBackup = false
[difftool]
	prompt = false
[help]
	autocorrect = 1
[push]
	default = simple
