! Xft settings ---------------------------------------------------------------
Xft.dpi:        192
Xft.antialias:  true
Xft.hinting:    true

! URxvt settings
URxvt.termname:    rxvt-unicode-256color
URxvt.scrollBar:   false
URxvt.font:        xft:Monaco for Powerline:size=9
URxvt.cursorBlink: true
URxvt.saveLines:   10000
URxvt.geometry:    100x40
URxvt.iso14755:    false

! URxvt extensions
URxvt.perl-ext-common:            default,clipboard,matcher,keyboard-select,tabbedex
URxvt.keysym.M-u:                 perl:url-select:select_next
URxvt.url-launcher:               /usr/bin/opera
URxvt.underlineURLs:              True
URxvt.matcher.button:             1
URxvt.keysym.M-Escape:            perl:keyboard-select:activate
URxvt.keysym.Shift-Control-C:     perl:clipboard:copy
URxvt.keysym.Shift-Control-V:     perl:clipboard:paste
URxvt.keysym.Control-Alt-V:       perl:clipboard:paste_escaped
URxvt.copyCommand:                xsel -ib
URxvt.pasteCommand:               xsel -ob
URxvt.tabbed.autohide:            false
URxvt.tabbed.new-button:          true
URxvt.keysym.Control-t:           perl:tabbedex:new_tab
URxvt.keysym.Control-Tab:         perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-Tab:   perl:tabbedex:prev_tab
URxvt.keysym.Control-Shift-Left:  perl:tabbedex:move_tab_left
URxvt.keysym.Control-Shift-Right: perl:tabbedex:move_tab_right
URxvt.keysym.Control-Shift-r:     perl:tabbedex:rename_tab

! Base16 Eighties
#define base00 #2d2d2d
#define base01 #393939
#define base02 #515151
#define base03 #747369
#define base04 #a09f93
#define base05 #d3d0c8
#define base06 #e8e6df
#define base07 #f2f0ec
#define base08 #f2777a
#define base09 #f99157
#define base0A #ffcc66
#define base0B #99cc99
#define base0C #66cccc
#define base0D #6699cc
#define base0E #cc99cc
#define base0F #d27b53

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
