! Xft settings ---------------------------------------------------------------
Xft.dpi:        192
Xft.antialias:  true
Xft.hinting:    true

! URxvt settings
URxvt.termname:       rxvt-unicode-256color
URxvt.scrollBar:      false
URxvt.font:           xft:Monaco for Powerline:size=9
URxvt.cursorBlink:    true
URxvt.saveLines:      10000
URxvt.geometry:       100x40
URxvt.internalBorder: 0
URxvt.iso14755:       false
URxvt*iso14755_52:    False

! URxvt extensions
URxvt.perl-ext-common:        default,clipboard,matcher,keyboard-select,tabbedex
URxvt.keysym.M-u:             perl:url-select:select_next
URxvt.url-launcher:           /usr/bin/opera
URxvt.underlineURLs:          True
URxvt.matcher.button:         1
URxvt.keysym.M-Escape:        perl:keyboard-select:activate
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Control-Alt-V:   perl:clipboard:paste_escaped
URxvt.copyCommand:            xsel -ib
URxvt.pasteCommand:           xsel -ob
URxvt.tabbed.autohide:        true
URxvt.tabbed.new-button:      false
URxvt.keysym.Control-t:       perl:tabbedex:new_tab

! Hybrid Terminal Colors

*background: #1D1F21
*foreground: #C5C8C6
! black
*color0:     #282A2E
*color8:     #373B41
! red
*color1:     #A54242
*color9:     #CC6666
! green
*color2:     #8C9440
*color10:    #B5BD68
! yellow
*color3:     #DE935F
*color11:    #F0C674
! blue
*color4:     #5F819D
*color12:    #81A2BE
! magenta
*color5:     #85678F
*color13:    #B294BB
! cyan
*color6:     #5E8D87
*color14:    #8ABEB7
! white
*color7:     #707880
*color15:    #C5C8C6
