! Xft settings ---------------------------------------------------------------
Xft.dpi:        192
Xft.antialias:  true
Xft.hinting:    true

! URxvt settings
URxvt.termname:       rxvt-unicode-256color
URxvt.scrollBar:      false
URxvt.font:           xft:Monaco for Powerline:size=9
URxvt.cursorBlink:    true
URxvt.saveLines:      10000
URxvt.geometry:       100x40
URxvt.internalBorder: 0
URxvt.iso14755:       false
URxvt*iso14755_52:    False

! URxvt extensions
URxvt.perl-ext-common:        default,clipboard,matcher,keyboard-select,tabbedex
URxvt.keysym.M-u:             perl:url-select:select_next
URxvt.url-launcher:           /usr/bin/opera
URxvt.underlineURLs:          True
URxvt.matcher.button:         1
URxvt.keysym.M-Escape:        perl:keyboard-select:activate
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Control-Alt-V:   perl:clipboard:paste_escaped
URxvt.copyCommand:            xsel -ib
URxvt.pasteCommand:           xsel -ob
URxvt.tabbed.autohide:        true
URxvt.tabbed.new-button:      false
URxvt.keysym.Control-t:       perl:tabbedex:new_tab
URxvt.keysym.Control-Right:   perl:tabbedex:next_tab
URxvt.keysym.Control-Left:    perl:tabbedex:prev_tab

! seoul256 (dark) theme adapted for URxvt
! append the content of this file to your .Xresources
URxvt*background:   #3a3a3a
URxvt*foreground:   #d0d0d0
URxvt*color0:       #4e4e4e
URxvt*color1:       #d68787
URxvt*color2:       #5f865f
URxvt*color3:       #d8af5f
URxvt*color4:       #85add4
URxvt*color5:       #d7afaf
URxvt*color6:       #87afaf
URxvt*color7:       #d0d0d0
URxvt*color8:       #626262
URxvt*color9:       #d75f87
URxvt*color10:      #87af87
URxvt*color11:      #ffd787
URxvt*color12:      #add4fb
URxvt*color13:      #ffafaf
URxvt*color14:      #87d7d7
URxvt*color15:      #e4e4e4
URxvt*cursorColor:  #d0d0d0
URxvt*cursorColor2: #3a3a3a
URxvt.colorBD:      #e4e4e4
