[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Icon=utilities-terminal
Exec=st -g 105x45
NoDisplay=false
Categories=Utility;
StartupNotify=false
Terminal=false
